body {
      margin: 0;
      padding: 20px;
	  color: #43301F;
      background-color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      min-height: 100vh;
    }

    .main-image {
      margin-top: 40px;
      max-width: 1536px;
      width: 75%;
      height: auto;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      border-radius: 12px;
    }

    .text-box {
      margin: 20px 0 0 0;
      padding: 20px;
	  width: 100%;
      max-width: 1496px;
      text-align: left;
	  background: #E8DECC;
	  background-image: url("images/parchment.jpg");
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	  font-family: Garamond, "Times New Roman", Georgia, serif;
	  font-style: italic;
	  font-size: 2.4vmin;
    }

	.text-box h2 {
      text-align: center;
	  font-size: 3.6vmin;
	}
	
	.text-box2 {
      margin: 20px 0 0 0;
      padding: 20px;
	  width: 100%;
      max-width: 1496px;
      text-align: center;
	  background: #E8DECC;
	  background-image: url("images/parchment.jpg");
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	  font-family: Garamond, "Times New Roman", Georgia, serif;
	  font-style: italic;
	  font-size: 2.4vmin;
    }
	
	.text-box li {
	  font-family: Garamond, "Times New Roman", Georgia, serif;
	  font-style: italic;
	  font-size: 2.4vmin;
	}
	
    .linked-image {
      max-width: 1536px;
      width: 40%;
      height: auto;
      transition: transform 0.2s ease;
    }

    .linked-image:hover {
      transform: scale(1.05);
    }
	
	 .text-box3 {
      margin: 20px 0 0 0;
      padding: 20px;
	  width: 100%;
      max-width: 1496px;
      text-align: left;
	  background: #E8DECC;
	  background-image: url("images/parchment.jpg");
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
	  font-family: Garamond, "Times New Roman", Georgia, serif;
	 }
	
	.text-box3 h1 {
      text-align: center;
	}
	
	.text-box h2 {
      text-align: center;
	}
	
  
    /* Navbar container */
    nav {
      background-color: #222;
      color: white;
      padding: 0.5rem 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 3%;
      z-index: 1000;
      border-radius: 12px;
    }
    
    /* Nav links */
    .nav-links {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
      display: none;
      flex-direction: column;
      background-color: #222;
      position: absolute;
      top: 100%;
      left: 70%;
      transform: translateX(-50%);
      width: 100px;
      text-align: center;
      padding: 1rem 0;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;
      border-radius: 12px;
    }

    .nav-links a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.2s ease;
    }
    
    .nav-links li {
      padding: 10px;
    }

    .nav-links a:hover {
      background-color: #9b883f;
      padding: 10px;
      border-radius: 12px;
      color: #ffffff;
      transition: 0.8s;
    }

    /* Hamburger icon */
    .hamburger {
      display: flex;
      flex-direction: column;
      cursor: pointer;

    }

    .hamburger span {
      height: 3px;
      width: 25px;
      background: white;
      margin: 4px 0;
      transition: 0.4s;
    }

  

      .nav-links.active {
        display: flex;
        max-height: 500px; /* Adjust based on content */
      }